@import url("/static/color.css");

:root {
    --color-debug: red;
}

#containor {
    --color-theme-base: var(--color-debug);
    --color-theme-base-text: white;

    --color-header: darkblue;
    --color-send-button-border: var(--color-debug);
    --color-send-button-background: var(--colorPrimary);
    --color-failure-background: var(--color-debug);
    --color-failure-color: black;
    --color-send-button-color: var(--colorPrimary--contrast);

    --color-chat-window: var(--colorPrimary--dark);
    --color-chat-bubble: var(--colorPrimary--light);
    --color-chat-bubble-text: ivory;
}