:root {
    --color-op-light: #396;
    --color-op-dark: #1c7c4c;
}

#containor {
    --color-theme-base: yellow;
    --color-theme-base-text: white;

    --color-header: red;
    --color-send-button-border: darkgoldenrod;
    --color-send-button-background: wheat;
    --color-failure-background: crimson;
    --color-failure-color: black;
    --color-send-button-color: black;

    --color-chat-window: bisque;
    --color-chat-bubble: aquamarine;
    --color-chat-bubble-text: black;
}
