:root {
    --color-op-light: #396;
    --color-op-dark: #1c7c4c;
}

#containor {
    --color-theme-base: lightgreen;
    --color-theme-base-text: white;

    --color-header: forestgreen;
    --color-send-button-border: darkgoldenrod;
    --color-send-button-background: aquamarine;
    --color-failure-background: forestgreen;
    --color-failure-color: black;
    --color-send-button-color: black;

    --color-chat-window: var(--color-op-dark);
    --color-chat-bubble: var(--color-op-light);
    --color-chat-bubble-text: white;
}
